.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all; /* Bloqueia cliques no fundo */
}

.lottieContainer {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}